SHELL=/data/data/com.termux/files/usr/bin/bash
PREFIX=/data/data/com.termux/files/usr
PATH=/data/data/com.termux/files/usr/bin:/data/data/com.termux/files/home/.local/share/kdsy/
MAILTO=root
HOME=/data/data/com.termux/files/home
KDSY=/data/data/com.termux/files/home/.local/share/kdsy

*/30 * * * * $HOME/kdsy/cron.sh > /dev/null
